#header {
    background-color: #eff0f0;
    height: 15vw;
    position: relative;
}

#HEMALogo {
    height: 10vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}